* {
  box-sizing: border-box;
}

html {
  background-color: #F5F7FA;
  font-family: inter;
}

.container {
  max-width: 1440px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 102px;
  padding: 22px 120px 22px 105px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  color: #18191F;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.nav-content img {
  max-width: 154.49px;
  width: 100%;
  height: auto;
}

.nav-actions button {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
}

.nav-actions {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

button.login-button {
  color: #4CAF4F;
  border-radius: 6px;
}

button.signup-button {
  background-color: #4CAF4F;
  color: #FFFFFF;
  border-radius: 6px;
}

.hero-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 96px 144px;
}

.hero-info h2 {
  font-size: 64px;
  font-weight: 600;
  line-height: 76px;
  color: #4D4D4D;
}

.hero-info span {
  color: #4CAF4F;
}

.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #717171;
}

.hero-actions {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  width: 128px;
  height: 52px;
  border-radius: 4px;
  background-color: #4CAF4F;
}

.hero-actions span {
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
}

.clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px 20px 0px;
  background-color: #FFFFFF;
}

.clients-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 41px;
  width: 100%;
}

.clients-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.clients-intro h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  color: #4D4D4D;
}

.clients-intro p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #717171;
}

.clients-showcase {
  display: flex;
  flex-direction: row;
  padding: 0px 144px;
  gap: 136px;
  width: 100%;
}

.community {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px 21px 0px;
  width: 100%;
  background-color: #FFFFFF;
}

.community-intro p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #717171;
}

.community-content, .community-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.community-intro h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  color: #4D4D4D;
  max-width: 542px;
  text-align: center;
}

.community-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 127.5px;
  margin-top: 8px;
}

.community-cards img {
  width: 65px;
  height: 56px;
  margin-bottom: 8px;
}

.community-cards h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  max-width: 231px;
  color: #4D4D4D;
}

.community-cards p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #717171;
}

.membership-card, .national-card, .clubs-card {
  max-width: 299px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 8px;
  box-shadow: 0px 2px 4px rgba(171, 190, 209, 0.2);
}

.clubs-card, .membership-card {
  height: 260px;
}

.national-card {
  height: 280px;
}

.pixelgrade {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 21px 0px 48px 0px;
  background-color: #FFFFFF;
}

.pixelgrade-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 49px;
}

.pixelgrade-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 601px;
  gap: 16px;
}

.pixelgrade-info h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  color: #4D4D4D;
}

.pixelgrade-info p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #717171;
}

.pixelgrade-actions {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  width: 128px;
  height: 52px;
  border-radius: 4px;
  background-color: #4CAF4F;
  color: #FFFFFF;
}

.statistics {
  padding: 64px 144px;
  display: flex;
}

.stats-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 72px;
}

.stats-intro {
  width: 540px;
}

.stats-intro h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
  color: #4D4D4D;
}

.stats-intro span {
  color: #4CAF4F;
}

.stats-intro p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 8px;
  color: #18191F;
}

.stats-grid {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 540px;
}

.stats-row {
  display: flex;
  flex-direction: row;
}

.stats-grid img {
  width: 48px;
  height: 48px;
}

.stats-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 255px;
  gap: 16px;
}

.stats-grid span {
  display: flex;
  flex-direction: column;
}

.stats-grid h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  color: #18191F;
}

.stats-grid p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #717171;
}/*# sourceMappingURL=home.css.map */