$bgColor: #F5F7FA;
$primaryColor: #4CAF4F;
$secondaryColor: #4D4D4D;
$lightGreyColor: #717171;
$neutralGray: #89939E;
$darkFontColor: #18191F; 
$whiteColor: #FFFFFF;
$boxShadowColor: #ABBED133;
$popupsColor: #F5F7FA;
$popupShadowColor: #ABBED166;
$darkColor: #263238;
$footerContrastColor: #D9DBE1;
$footerInputColor: #3c474c;

$fontFamily: inter;

@mixin learn-more-btn {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  width: 128px;
  height: 52px;
  border-radius: 4px;
  background-color: $primaryColor;
  color: $whiteColor;
}

@mixin secondary-btn {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  gap: 8px;
  color: $primaryColor;
}

@mixin header-text {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  color: $secondaryColor;
}

@mixin mini-header-text {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

@mixin desc-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@mixin small-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

@mixin centered-row-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@mixin centered-col-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin centered-spacebet-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin center-alignment-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  box-sizing: border-box;
}

html {
  background-color: $bgColor;
  font-family: $fontFamily;
}

.container {
  max-width: 1440px;
}

.nav-bar {
  @include centered-spacebet-flex();
  min-height: 102px;
  padding: 22px 120px 22px 105px;
}

.nav-menu {
  @include centered-spacebet-flex();
  gap: 50px;
  color: $darkFontColor;
}

.nav-content {
  @include centered-spacebet-flex();
  flex-direction: row;
  width: 100%;
}

.nav-content img {
  max-width: 154.49px;
  width: 100%;
  height: auto;
}

.nav-actions button {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
}

.nav-actions {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

button.login-button { 
  color: $primaryColor;
  border-radius: 6px;
}

button.signup-button { 
  background-color: $primaryColor;
  color: $whiteColor;
  border-radius: 6px;
}

.hero-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 96px 144px;
}


.hero-info h2 {
  font-size: 64px;
  font-weight: 600;
  line-height: 76px;
  color: $secondaryColor;
}


.hero-info span {
  color: $primaryColor;
}


.hero-info {
    @include centered-col-flex();
    gap: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #717171;
}

.hero-actions {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  width: 128px;
  height: 52px;
  border-radius: 4px;
  background-color: $primaryColor;
}

.hero-actions span {
  font-size: 16px;
  font-weight: 500;
  color: $whiteColor;
}

.clients {
  @include center-alignment-col();
  padding: 40px 0px 20px 0px;
  background-color: #FFFFFF;
}

.clients-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 41px;
    width: 100%;
}

.clients-intro {
  @include center-alignment-col();
  gap: 8px;
}

.clients-intro h2 {
  @include header-text();
}

.clients-intro p {
  @include desc-text();
  color: $lightGreyColor;
}

.clients-showcase {
    display: flex;
    flex-direction: row;
    padding: 0px 144px;
    gap: 136px;
    width: 100%;
}

.community {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px 21px 0px;
    width: 100%;
    background-color: $whiteColor;
}

.community-intro p {
  @include desc-text();
  color: $lightGreyColor;
}

.community-content, .community-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.community-intro h2 {
  @include header-text();
  max-width: 542px;
  text-align: center;
}

.community-cards {
  @include centered-row-flex();
  width: 100%;
  gap: 127.5px;
  margin-top: 8px;
}

.community-cards img {
  width: 65px;
  height: 56px;
  margin-bottom: 8px;
}

.community-cards h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  max-width: 231px;
  color: $secondaryColor;
}

.community-cards p {
  @include small-text();
  color: $lightGreyColor;
}

.membership-card, .national-card, .clubs-card {
  max-width: 299px;
  @include center-alignment-col();
  text-align: center;
  justify-content: center;
  gap: 8px;
  box-shadow: 0px 2px 4px $boxShadowColor;
}

.clubs-card, .membership-card {
  height: 260px;
}

.national-card {
  height: 280px;
}

.pixelgrade {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 21px 0px 48px 0px;
    background-color: $whiteColor;
}

.pixelgrade-content {
  @include centered-row-flex();
  gap: 49px;
}

.pixelgrade-info {
  @include centered-col-flex();
  width: 601px;
  gap: 16px;  
}

.pixelgrade-info h2 {
  @include header-text();
}

.pixelgrade-info p {
  @include small-text();
  color: $lightGreyColor;
}

.pixelgrade-actions {
  @include learn-more-btn();
}

.statistics {
    padding: 64px 144px;
    display: flex;
}

.stats-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 72px;
}

.stats-intro {
    width: 540px;
}

.stats-intro h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
  color: $secondaryColor;
}

.stats-intro span {
  color: $primaryColor;
}

.stats-intro p {
  @include desc-text();
  margin-top: 8px;
  color: $darkFontColor;
}

.stats-grid {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 540px;
}

.stats-row {
  display: flex;
  flex-direction: row;
}

.stats-grid img {
  width: 48px;
  height: 48px;
}

.stats-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 255px;
  gap: 16px;
}

.stats-grid span {
  display: flex;
  flex-direction: column;
}

.stats-grid h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  color: $darkFontColor;
}

.stats-grid p {
  @include desc-text();
  color: $lightGreyColor;  
}
