$bgColor: #F5F7FA;
$primaryColor: #4CAF4F;
$secondaryColor: #4D4D4D;
$lightGreyColor: #717171;
$neutralGray: #89939E;
$darkFontColor: #18191F; 
$whiteColor: #FFFFFF;
$boxShadowColor: #ABBED133;
$popupsColor: #F5F7FA;
$popupShadowColor: #ABBED166;
$darkColor: #263238;
$footerContrastColor: #D9DBE1;
$footerInputColor: #3c474c;

$fontFamily: inter;

@mixin learn-more-btn {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  width: 128px;
  height: 52px;
  border-radius: 4px;
  background-color: $primaryColor;
  color: $whiteColor;
}

@mixin secondary-btn {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  gap: 8px;
  color: $primaryColor;
}

@mixin header-text {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  color: $secondaryColor;
}

@mixin mini-header-text {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

@mixin desc-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@mixin small-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

@mixin centered-row-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@mixin centered-col-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin centered-spacebet-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin center-alignment-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin mobile-header-texts {
  font-size: 40px;
  line-height: 50px;
}

@mixin tablet-header-texts {
  font-size: 34px;
  line-height: 40px;
}

* {
  box-sizing: border-box;
}

html {
  background-color: $bgColor;
  font-family: $fontFamily;
}

.body img {
  overflow: auto;
}

.container {
  max-width: 1440px;
}

.nav-bar {
  @include centered-spacebet-flex();
  flex-direction: column;

  @media (min-width: 600px) {
    max-height: 130px;
    gap: 10px
  }

  @media (min-width: 990px) {
    max-height: 84px;
    height: 100%;
  }
}

.menu-toggle {
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    padding: 5px 80px;
    background-color: lighten($color: $lightGreyColor, $amount: 45);

  @media (max-width: 599px) {
    padding: 5px 40px;
    display: flex;
  }

  @media (min-width: 600px) {
    padding: 5px 40px;
    display: flex;
  }

  @media (min-width: 767px) {
    padding: 5px 80px;
  }

  @media (min-width: 990px) {
    display: none;
  }
}

.nav-drawer {
  display: none;
  flex-direction: column;
  cursor: pointer;

  @media (max-width: 990px) {
    display: flex;
    flex-direction: column;
  }
}

.bar {
  display: none;
  width: 25px;
  height: 3px;
  margin: 3px auto;
  background-color: $secondaryColor;

  @media (max-width: 990px) {
    display: block;
  }
}

body.nav-drawer-open .nav-menu {
  transform: translateX(0);
}

.nav-item {
  @media (max-width: 990px) {
    margin: 16px 0;
  }
}

.nav li {
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: $darkFontColor;
}

.nav-menu {
  @include centered-spacebet-flex();
  @include desc-text();
  gap: 50px;
  color: $darkFontColor;

  @media (max-width: 990px) {
    display: none;
  }

  @media (max-width: 990px) {
    position: fixed;
    top: 130px;
    right: 0;
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    padding-top: 20px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    background-color: $bgColor;
    box-shadow: 0px 9px 10px $popupShadowColor;
    z-index: 14;
  }

  @media (min-width: 991px) {
    position: static;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 16px;
    transform: none;
    background: none;
  }

  @media (min-width: 1200px) {
    gap: 50px;
  }
}

.nav-content {
  @include centered-spacebet-flex();
  flex-direction: row;
  width: 100%;
  padding: 22px 120px 22px 105px;

  @media (max-width: 599px) {
    padding: 40px 40px 0px 40px;
  }

  @media (min-width: 600px) {
    padding: 40px 40px 0px 40px;
  }

  @media (min-width: 767px) {
    padding: 40px 80px 0px 80px;
  }

  @media (min-width: 991px) {
    padding: 22px 120px 22px 105px;
  }
}

.nav-content img {
  max-width: 154.49px;
  width: 100%;
  height: auto;
}

.nav-actions button {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;

  @media (max-width: 599px) {
    display: flex;
  }

  @media (min-width: 600px) {
    display: flex;
  }

  @media (min-width: 991px) {
    padding: 8px 10px;
    font-size: 13px;
  }

  @media (min-width: 1200px) {
    padding: 10px 20px;
    font-size: 14px;
  }
}

.nav-actions .nav-drawer {
   @media (max-width: 990px) {
    display: flex;
  }

  @media (min-width: 991px) {
    display: none;
  }
}

.nav-actions {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

button.login-button { 
  color: $primaryColor;
  border-radius: 6px;
}

button.signup-button { 
  background-color: $primaryColor;
  color: $whiteColor;
  border-radius: 6px;
}


.hero-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 96px 144px;

  @media (max-width: 599px) {
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
    padding: 40px;
  }

  @media (min-width: 600px) {
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
    padding: 40px;
  }

  @media (min-width: 767px) {
    padding: 40px 80px;
  }

  @media (min-width: 991px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 96px 144px;
  }
}

.hero-content img {
  max-width: 391px;
  width: 100%;

  @media (max-width: 599px) {
    max-width: 450px;
    width: 100%;
  }

  @media (min-width: 600px) {
    max-width: 450px;
    width: 100%;
  }

  @media (min-width: 767px) {
    max-width: 350px;
    width: 100%;
  }

  @media (min-width: 991px) {
    max-width: 391px;
    width: 100%;
  }
}

.hero-info h2 {
  font-size: 64px;
  font-weight: 600;
  line-height: 76px;
  color: $secondaryColor;

  @media (max-width: 599px) {
    font-size: 54px;
    line-height: 67px;
  }

  @media (min-width: 600px) {
    font-size: 54px;
    line-height: 67px;
  }

  @media (min-width: 991px) {
    font-size: 64px;
    line-height: 76px;
  }
}


.hero-info span {
  color: $primaryColor;
}


.hero-info {
    @include centered-col-flex();
    @include desc-text();
    gap: 16px;
    color: $lightGreyColor;

  @media (max-width: 991px) {
    text-align: center;
    align-items: center;
  }
}

.hero-actions {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  width: 128px;
  height: 52px;
  border-radius: 4px;
  background-color: $primaryColor;
}

.hero-actions span {
  font-size: 16px;
  font-weight: 500;
  color: $whiteColor;
}

.clients {
  @include center-alignment-col();
  background-color: #FFFFFF;
}

.clients-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 41px;
  width: 100%;
  padding: 40px 144px 20px 144px;

  @media (max-width: 599px) {
    padding: 40px;
  }

  @media (min-width: 600px) {
    padding: 40px;
  }

  @media (max-width: 767px) {
    gap: 24px;
    padding: 40px 80px;
  }

  @media (min-width: 991px) {
    gap: 41px;
    padding: 40px 144px 20px 144px;
  }
}

.clients-intro {
  @include center-alignment-col();
  gap: 8px;
}

.clients-intro h2 {
  @include header-text();

  @media (max-width: 599px) {
    @include mobile-header-texts();
  }

  @media (min-width: 600px) {
    @include mobile-header-texts();
  }

  @media (min-width: 767px) {
    @include tablet-header-texts();
  }

  @media (min-width: 991px) {
    @include header-text();
  }
}

.clients-intro p {
  @include desc-text();
  color: $lightGreyColor;
}

.clients-showcase {
  display: flex;
  flex-direction: row;
  gap: 136px;
  width: 100%;

  @media (max-width: 599px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }

  @media (min-width: 600px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }

  @media (min-width: 767px) {
    flex-direction: row;
    align-items: center;
    gap: 45px;
  }

  @media (min-width: 991px) {
    justify-content: space-between;
  }
}

.clients-showcase img {
  max-width: 48px;

  @media (max-width: 767px) {
    max-width: 80px;
    width: 100%;
  }
}

.community {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: $whiteColor;
}

.community-content {
  padding: 20px 144px 21px 144px;

  @media (max-width: 599px) {
    padding: 40px;
  }

  @media (min-width: 600px) {
    padding: 40px;
  }

  @media (min-width: 767px) {
    padding: 0px 80px;
  }

  @media (min-width: 991px) {
    padding: 20px 144px 21px 144px;
  }
}

.community-intro p {
  @include desc-text();
  color: $lightGreyColor;
}

.community-content, .community-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

  @media (max-width: 600px) {
    gap: 16px;
  }
}

.community-intro h2 {
  @include header-text();
  max-width: 542px;
  text-align: center;

  @media (max-width: 599px) {
    @include mobile-header-texts();
  }

  @media (min-width: 600px) {
    @include mobile-header-texts();
  }

  @media (min-width: 767px) {
    @include tablet-header-texts();
  }

  @media (min-width: 991px) {
    @include header-text();
  }
}

.community-cards {
  @include centered-row-flex();
  gap: 127.5px;
  margin-top: 8px;

  @media (max-width: 599px) {
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    gap: 30px;
  }

  @media (min-width: 600px) {
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    gap: 30px;
  }

  @media (min-width: 991px) {
    @include centered-row-flex();
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 8px;
  }

  @media (min-width: 1440px) {
    gap: 127.5px;
  }
}

.community-cards img {
  width: 65px;
  height: 56px;
  margin-bottom: 8px;
}

.community-cards h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  max-width: 231px;
  color: $secondaryColor;

  @media (max-width: 599px) {
    font-size: 30px;
    line-height: 38px;
  }

  @media (min-width: 600px) {
    font-size: 30px;
    line-height: 38px;
  }

  @media (min-width: 991px) {
    font-size: 28px;
    line-height: 36px;
  }
}

.community-cards p {
  @include small-text();
  color: $lightGreyColor;
}

.membership-card, .national-card, .clubs-card {
  max-width: 299px;
  @include center-alignment-col();
  text-align: center;
  justify-content: center;
  gap: 8px;
  box-shadow: 0px 2px 4px $boxShadowColor;

  @media (max-width: 767px) {
    max-width: 320px;
    width: 100%;
  }

  @media (min-width: 991px) {
    max-width: 299px;
    width: 100%;
  }
}

.clubs-card, .membership-card {
  height: 260px;
}

.national-card {
  height: 280px;
}

.pixelgrade {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $whiteColor;
}

.pixelgrade-content {
  @include centered-row-flex();
  gap: 49px;
  padding: 21px 0px 48px 0px;

  @media (max-width: 599px) {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
    padding: 40px;
  }

  @media (min-width: 600px) {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
    padding: 40px;
  }

  @media (min-width: 767px) {
    gap: 0px;
    padding: 0px 80px;
  }

  @media (min-width: 991px) {
    gap: 10px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 42px 144px;
  }

  @media (min-width: 1200px) {
    flex-direction: row;
    gap: 49px;
    justify-content: space-between;
  }
}

.pixelgrade-content img {
  max-width: 442px;
  width: 100%;

  @media (max-width: 599px) {
    max-width: 450px;
    width: 100%;
  }

  @media (min-width: 600px) {
    max-width: 450px;
    width: 100%;
  }

  @media (min-width: 767px) {
    max-width: 442px;
    width: 100%;
  }
}

.pixelgrade-info {
  @include centered-col-flex();
  gap: 16px; 

  @media (max-width: 599px) {
    width: 100%;
    max-width: 500px;
    align-items: center;
    gap: 25px;
  }
  
  @media (min-width: 600px) {
    width: 100%;
    max-width: 500px;
    align-items: center;
    gap: 25px;
  }

  @media (min-width: 767px) {
    width: 100%;
    max-width: 680px;
    gap: 30px;
    align-items: center;
    padding: 40px;
  }

  @media (min-width: 991px) {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    max-width: 601px;
    width: 100%;
    padding: 0;
  }

  @media (min-width: 1200px) {
    gap: 16px; 
    text-align: left;
    align-items: flex-start;
    padding: 0px;
  }
}

.pixelgrade-info h2 {
  @include header-text();
  max-width: 500px;
  width: 100%;

  @media (max-width: 599px) {
    @include mobile-header-texts();
  }

  @media (min-width: 600px) {
    @include mobile-header-texts();
  }

  @media (min-width: 767px) {
    @include tablet-header-texts();
  }

  @media (min-width: 991px) {
    @include header-text();
  }
}

.pixelgrade-info p {
  @include small-text();
  color: $lightGreyColor;
}

.pixelgrade-actions {
  @include learn-more-btn();
}

.statistics {
    display: flex;

  @media (max-width: 599px) {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  @media (min-width: 600px) {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}

.stats-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 72px;
    padding: 64px 144px;

  @media (max-width: 599px) {
    flex-direction: column;
    gap: 50px;
    padding: 40px;
  }

  @media (min-width: 600px) {
    flex-direction: column;
    gap: 50px;
    padding: 40px;
  }

  @media (min-width: 767px) {
    gap: 72px;
    padding: 0px 80px;
  }

  @media (min-width: 991px) {
    padding: 64px 144px;
  }

  @media (min-width: 1200px) {
    flex-direction: row;
  }
}

.stats-intro {
    width: 540px;

  @media (max-width: 599px) {
    width: 100%;
    max-width: 500px;
    text-align: center;
  }
    
  @media (min-width: 600px) {
    width: 100%;
    max-width: 500px;
    text-align: center;
  }

  @media (min-width: 767px) {
    width: 100%;
    max-width: 540px;
  }

  @media (min-width: 1200px) {
    text-align: left;
  }
}

.stats-intro h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
  color: $secondaryColor;

  @media (max-width: 599px) {
    @include mobile-header-texts();
  }

  @media (min-width: 600px) {
    @include mobile-header-texts();
  }

  @media (min-width: 767px) {
    @include tablet-header-texts();
  }

  @media (min-width: 991px) {
    @include header-text();
  }
}

.stats-intro span {
  color: $primaryColor;
}

.stats-intro p {
  @include desc-text();
  margin-top: 8px;
  color: $darkFontColor;
}

.stats-grid {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 540px;

  @media (max-width: 600px) {
    width: 100%;
    max-width: 500px;
    gap: 40px;
    align-items: center;
  }

  @media (max-width: 767px) {
    align-items: center;
  }
}

.stats-row {
  display: flex;
  flex-direction: row;

  @media (max-width: 599px) {
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }

  @media (min-width: 600px) {
    flex-direction: column;
    justify-content: center;
    gap: 40px;
  }

  @media (min-width: 767px) {
    flex-direction: row;
    justify-content: center;
  }
}

.stats-grid img {
  width: 48px;
  height: 48px;
}

.stats-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 255px;
  gap: 16px;

  @media (max-width: 600px) {
    width: 100%;
    justify-content: center;
  }
}

.stats-grid span {
  display: flex;
  flex-direction: column;
}

.stats-grid h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  color: $darkFontColor;
}

.stats-grid p {
  @include desc-text();
  color: $lightGreyColor;  
}

.guide {
  @include centered-col-flex();
  background-color: $whiteColor;
}

.guide-content {
  @include centered-row-flex();
  gap: 49.47px;
  padding: 21px 144px 48px 144px;

  @media (max-width: 599px) {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
    padding: 40px;
  }

  @media (min-width: 600px) {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
    padding: 40px;
  }

  @media (min-width: 991px) {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  @media (min-width: 767px) {
    padding: 48px 80px;
  }

  @media (min-width: 991px) {
    padding: 48px 144px;
  }

  @media (min-width: 1200px) {
    @include centered-row-flex();
    text-align: left;
    gap: 49.47px;
  }
}

.guide-content img {
  max-width: 441.52px;
  width: 100%;

  @media (max-width: 600px) {
    max-width: 450px;
    width: 100%;
  }
}

.guide-info {
  @include centered-col-flex();
  gap: 16px;  

 @media (max-width: 599px) {
    align-items: center;
  }

  @media (min-width: 600px) {
    align-items: center;
  }

  @media (min-width: 767px) {
    align-items: center;
  }

  @media (min-width: 991px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  @media (min-width: 1200px) {
    @include centered-col-flex();
    align-items: flex-start;
    text-align: left;
    gap: 16px; 
  }
}

.guide-info h2 {
  @include header-text();

  @media (max-width: 599px) {
    @include mobile-header-texts();
  }

  @media (min-width: 600px) {
    @include mobile-header-texts();
  }

  @media (min-width: 767px) {
    @include tablet-header-texts();
  }

  @media (min-width: 991px) {
    @include header-text();
  }
}

.guide-info p {
  @include small-text();
  color: $lightGreyColor;
}

.guide-actions {
  @include learn-more-btn();
}

.customers-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 78px;
  padding: 32px 144px;

  @media (max-width: 599px) {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px;
  }

  @media (min-width: 600px) {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 40px;
  }

  @media (min-width: 767px) {
    padding: 48px 80px;
  }

  @media (min-width: 991px) {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 32px 144px;
  }

  @media (min-width: 1200px) {
    flex-direction: row;
    gap: 78px;
  }
}

.customers-partners {
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    gap: 41px;

  @media (max-width: 599px) {
    flex-wrap: wrap;
  }

  @media (min-width: 600px) {
    flex-wrap: wrap;
  }  

  @media (min-width: 1200px) {
    gap: 41px;
  }
}

.customers-media {
    max-width: 326px;
    width: 100%;

  @media (max-width: 599px) {
    max-width: 450px;
    width: 100%;
  }

  @media (min-width: 600px) {
    max-width: 450px;
    width: 100%;
  }

  @media (min-width: 1200px) {
    max-width: 326px;
    width: 100%;
  }
}

.customers-intro {
  @media (max-width: 767px) {
    align-items: center;
  }
}

.customers-intro p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: $lightGreyColor;

  @media (max-width: 599px) {
    text-align: center;
  }

  @media (min-width: 600px) {
    text-align: center;
  }

  @media (min-width: 1200px) {
    text-align: left;
  }
}

.customers-intro h3 {
  @include mini-header-text();
  margin: 16px 0px 8px 0px;
  color: $primaryColor;

  @media (max-width: 599px) {
    text-align: center;
  }

  @media (min-width: 600px) {
    text-align: center;
  }

  @media (min-width: 1200px) {
    text-align: left;
  }
}

.customers-intro span {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: $neutralGray;
}

.customers-info {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 748px;
    width: 100%;

  @media (max-width: 599px) {
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding: 0px 40px;
  }

  @media (min-width: 600px) {
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding: 0px 40px;
  }

  @media (min-width: 991px) {
    display: flex;
    align-items: center;
    text-align: left;
    flex-direction: column;
  }

  @media (min-width: 1200px) {
    align-items: flex-start;
    overflow: auto;
    padding: 0px;
  }
}

.customers-info .customers-partners img {
  max-width: 48px;
  width: 100%;
  gap: 41px;
}

.customers-partners {

  @media (max-width: 599px) {
    justify-content: center;
  }

  @media (min-width: 600px) {
    justify-content: center;
  }
}

.customers-btn {
  @include secondary-btn();
}

.customers-btn img {
  max-width: 24px;
  width: 100%;
}

button.meet-customers {
  max-width: 188px;
  width: 100%;
  max-height: 28px;
  height: 100%;
}

.customers-content .customers-extra {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;

  @media (max-width: 599px) {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  @media (min-width: 600px) {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  @media (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    gap: 20px;
  }
}

.marketing {
  background-color: $whiteColor;
}

.marketing-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.marketing .marketing-intro h2 {
  @include header-text();

  @media (max-width: 599px) {
    @include mobile-header-texts();
  }

  @media (min-width: 600px) {
    @include mobile-header-texts();
  }

  @media (min-width: 767px) {
    @include tablet-header-texts();
  }

  @media (min-width: 991px) {
    @include header-text();
  }
}

.marketing .marketing-intro p {
  @include desc-text();
  max-width: 628px;
  width: 100%;
  gap: 8px;
  text-align: center;
  color: $lightGreyColor;
}

.marketing-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 48px 144px 94.6px 144px;

  @media (max-width: 599px) {
    padding: 40px;
    gap: 40px;
  }

  @media (min-width: 600px) {
    padding: 40px;
    gap: 40px;
  }

  @media (min-width: 767px) {
    padding: 48px 80px;
  }

  @media (min-width: 991px) {
    padding: 48px 144px 94.6px 144px;
  }
}

.marketing-cards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
    height: 366px;

  @media (max-width: 599px) {
    flex-direction: column;
    align-items: center;
    gap: 0px;
    height: auto;
  }

  @media (min-width: 600px) {
    flex-direction: column;
    align-items: center;
    gap: 0px;
    height: auto;
  }

   @media (min-width: 1200px) {
    flex-direction: row;
    gap: 24px;
  }
}

.marketing-cards .pop-ups {
    display: flex;
    flex-direction: column;
    max-width: 317px;
    width: 100%;
    height: 176px;
    gap: 16px;
    align-items: center;
    background-color: #F5F7FA;
    z-index: 10;
    transform: translateY(-100px);
    border-radius: 8px;
    justify-content: center;
}

.pop-ups {
  box-shadow: 0px 8px 16px $popupShadowColor;
}

.pop-ups p {
  @include mini-header-text();
  text-align: center;
  color: $lightGreyColor;
}

.pop-ups .marketing-actions  {
  @include secondary-btn();
}

.marketing-cards-item {
    display: flex;
    flex-direction: column;
    align-items: center;

  @media (max-width: 599px) {
    max-width: 450px;
    width: 100%;
  }

  @media (min-width: 600px) {
    max-width: 450px;
    width: 100%;
  }
}

.demo-content {
  @include centered-col-flex();
  align-items: center;
  padding: 32px 276.5px;
  gap: 32px;

  @media (max-width: 599px) {
    padding: 40px;
  }

  @media (min-width: 600px) {
    padding: 40px;
  }

  @media (min-width: 767px) {
    padding: 40px 80px;
  }

  @media (min-width: 991px) {
    padding: 32px 144px;
  }
}

.demo-header {
  font-size: 64px;
  font-weight: 600;
  line-height: 76px;
  color: $darkColor;
  text-align: center;
}

.demo-actions {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  width: 178px;
  height: 52px;
  border-radius: 4px;
  gap: 8px;
  background-color: $primaryColor;
  color: $whiteColor;
}

.demo-actions img {
  max-width: 16px;
  width: 100%;
}

.footer {
  background-color: $darkColor;
}

.footer-menu {
  display: flex;
  flex-direction: row;
  gap: 125px;
  padding: 64px 165px;

  @media (max-width: 599px) {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
    padding: 40px;
  }

  @media (min-width: 600px) {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
    padding: 40px;
  }

  @media (min-width: 767px) {
    padding: 40px 80px;
  }

  @media (min-width: 991px) {
    flex-direction: row;
    gap: 80px;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    padding: 64px 165px;
  }

  @media (min-width: 1400px) {
    gap: 125px;
  }
}

.footer p, h3 {
  @include small-text();
  color: $whiteColor;
}

.footer h2 {
  @include mini-header-text();
  color: $whiteColor;
}

.footer-brand {
    display: flex;
    max-width: 350px;
    width: 100%;
    gap: 40px;
    flex-direction: column;
    justify-content: space-between;

  @media (max-width: 990px) {
    align-items: center;
    gap: 20px;
  }

  @media (min-width: 991px) {
    align-items: flex-start;
    max-width: 250px;
    width: 100%;
  }
}

.social-links {
  display: flex;
  flex-direction: row;
  gap: 16px;

  @media (max-width: 990px) {
    justify-content: center;
  } 

  @media (min-width: 991px) {
    flex-wrap: wrap;
  } 
}

.footer-links {
    display: flex;
    flex-direction: row;
    gap: 30px;

  @media (max-width: 599px) {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  @media (min-width: 600px) {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  @media (min-width: 991px) {
    flex-direction: row;
    align-items: flex-start;
    text-align: left;
    gap: 50px;
  }

  @media (min-width: 1200px) {
    gap: 60px;
  }
}

.company, .support, .notifier {
    gap: 24px;
    display: flex;
    flex-direction: column;

  @media (max-width: 767px) {
    align-items: center;
  }

  @media (min-width: 991px) {
    align-items: flex-start;
  }
}

.comp-menu, .supp-menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 160px;

  @media (max-width: 767px) {
    align-items: center;
  }
}

.copyright {
    gap: 8px;
    display: flex;
    flex-direction: column;

  @media (min-width: 991px) {
    text-align: left;
  }
}

.notifier .contact-input {
  display: flex;
  flex-direction: row;
  width: 126px;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 255px;
  width: 100%;
  height: 40px;
  border-radius: 8px  ;
  padding: 9px 12px 11px 12px;
  gap: 87px;
  background-color: $footerInputColor;
  align-items: center;

  @media (max-width: 767px) {
    max-width: 280px;
  }
}

.contact-input input{
  @include small-text();
  max-width: 126px;
  width: 100%;
  color: $footerContrastColor;
}

.contact-input .send-btn {
  width: 18px;
}

